#nave
{
    
    background-color: rgb(216, 38, 74);
}
#sub
{
   
    color: rgb(223, 39, 131);
    
}

#sub1
{

    background-color: rgb(109, 3, 158);

    color: rgb(255, 255, 255);
padding: 20px;
    

   width: 300px;

}
#sonic
{
    padding-bottom: 20px;
}
#cuarto
{
    padding-bottom: 20px;
}
#texto{
    background-color: lightgray;

   

    text-align: justify;

padding: 20px;
}

#gamers
{
    background-color: rgb(109, 3, 158);
    float: right;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 6cm;
    height: 1cm;

padding: 9px;
  
}
#paisaje
{
    padding-top: 20px;
    padding-bottom: 20px;
}
#parrauno
{
    background-color: lightgray;
   
   
    
    

    text-align: justify;

  

padding: 20px;
}
#parrafodos
{
    background-color: lightgray;
    padding: 20px;
}

#logo
{
    background-color: rgb(16, 127, 192);
    height: 100px;
    padding-top: 20px;
}
#pacman
{
    padding-top: 20px;
}
#inicio
{
    background-color: rgb(16, 127, 192);
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 20px;
  
   
}